.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
  }
  
  .text-red {
    color: #B52828 !important;
  }
  .uniform-cell {
    width: 100px;

    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  